{{ define "main" }}
<section class="Contact-us-Section-2">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <img src="/images/contact_us/contact_us_map_1.png" class="img-fluid position-relative"
          alt="contact_map" />
      </div>
    </div>
  </div>
</section>
<!-- <div class="Map-Location">
          <div class="Location-Image-1">
            <img src="https://ferouaeinternalstorageac.blob.core.windows.net/ferowebprodstatic/images/contact_us/location_map_contactus.png" class="Location-map-1"
              alt="contact_map">
            <div class="Location-Address-Dubai">
              <div class="card">
                <img src="https://ferouaeinternalstorageac.blob.core.windows.net/ferowebprodstatic/images/contact_us/dubai_flag.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Office Address</h5>
                  <p class="card-text Location-Text">Office 106,Bulding A4 Dubai World Center,
                    Dubai,<br>
                    UAE P.O. BOX 502180<br>
                    +971 4 880 0161</p>
                </div>
              </div>
            </div>
          </div>

          <div class="Location-Image-2">
            <img src="https://ferouaeinternalstorageac.blob.core.windows.net/ferowebprodstatic/images/contact_us/location_map_contactus.png" class="Location-map-2"
              alt="contact_map">
            <div class="Location-Address-India">
              <div class="card">
                <img src="https://ferouaeinternalstorageac.blob.core.windows.net/ferowebprodstatic/images/contact_us/indian_flag.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Office Address</h5>
                  <p class="card-text">Office 304, Satya One Complex, Memnagar,Ahmadabad,<br>
                    Gujarat, India P.O. Box 380052<br>
                    +91 98980 93720</p>
                </div>
              </div>
            </div>
          </div>
        </div> -->

<section class="Contactus-section-3">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="Dark-Heading-H3">OUR LOCATIONS</h2>
      </div>
    </div>
  </div>
</section>

<section class="Contactus-section-4 my-5 mb-5 my-xl-5">
  <div class="container">
    <div class="row justify-content-md-center justify-content-xl-around px-3 px-md-0">
      <div class="col-12 col-lg-5 col-md-7 mt-md-5 mt-lg-0">
        <div class="card Shadow-Box mt-md-0 mt-4 mt-sm-4 px-5 py-4 Card-Address">
          <div class="d-flex">
            <img src="/images/contact_us/dubai_flag.png" class="card-img-top Partner-Image" alt="..." />
            <h5 class="mt-3 ms-2">UAE</h5>
          </div>

          <div class="card-body">
            <p class="card-text Location-Text">
              Office 106, Building A4, Dubai World Central, Dubai, UAE
            </p>
            <span> P.O. Box 502180 | +971 4 880 0161</span>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-5 col-md-7 mt-md-5 mt-lg-0">
        <div class="card Shadow-Box mt-md-0 mt-4 mt-sm-4 px-5 py-4 Card-Address">
          <div class="d-flex">
            <img src="/images/contact_us/indian_flag.png" class="card-img-top Partner-Image" alt="..." />
            <h5 class="mt-3 ms-2">INDIA</h5>
          </div>

          <div class="card-body">
            <p class="card-text Location-Text">
              401, Satya One Complex, Memnagar, Ahmadabad, Gujarat, India.
            </p>
            <span> P.O. Box 380052 | +91 98980 93702</span>
          </div>
        </div>
      </div>
    </div>

    <!-- button -->
    <div class="col-12 mt-4">
      <div class="text-center">
        <button class="btn btn-pramiry Common-Button-1 px-5 py-3" data-bs-toggle="modal"
          data-bs-target="#contact-form">
          GET IN TOUCH
        </button>
      </div>
    </div>
    <!-- button -->
  </div>
</section>


<div class="modal fade Contact-Modal" id="contact-form" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title Dark-Heading-H4" id="exampleModalLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body pt-4">

        <form method="post" enctype="multipart/form-data" id="FormID">
          <!--onSubmit="return false"-->
          <input type="hidden" name="csrfmiddlewaretoken" value="M0EhD5LuRR3YFomJDoLQ59L2LFv8xxiT6MgJDVrND7S36u6csXZ7YHOwO8GNAutn">
          <div class="row">
            <div class="col-6">
              <div class="form-floating mb-4">

                
                <label for="floatingInput">Full Name</label>
              </div>
            </div>
            <div class="col-6">
              <div class="form-floating mb-4">
                
                <label for="floatingInput">Company Name </label>
              </div>
            </div>
            <div class="col-6">
              <div class="form-floating mb-4">
                
                <label for="floatingSelect">How would you like to join us</label>
              </div>
            </div>
            <div class="col-6">
              <div class="form-floating mb-4">
                
                <label for="floatingInput">e-mail</label>
                
              </div>
            </div>
            <div class="col-6">
              <div class="form-floating mb-4">
                
                <label for="floatingInput">Country</label>
              </div>
            </div>
            <div class="col-6">
              <div class="form-floating mb-4">
                
                <label for="floatingInput">Contact Number with Country Code</label>
              </div>
            </div>

            <div class="col-12">
              <div class="form-floating mb-4">
                
                <label for="floatingTextarea2">Type Your Message Here...</label>
              </div>
            </div>
          </div>

          <!-- <div class="row mt-2 mb-4">
            <div class="col-12">
              <input type="checkbox" id="vehicle1" name="vehicle1" value="vehicle1">

              <label for="vehicle1" class="checkbox-paragraph"> I would like to receive communications
                about Fero.ai tailored to my interests and preferences,
                including latest news about products, services, events and promotions. For more
                information,
                please see our<span>Privacy Policy</span> </label>
            </div>
          </div> -->

          <div class="row mb-2">
            <div class="col-12">
              <button type="submit" class="btn btn-primary Modal-Footer-Btn Common-Button-1 w-100 p-3">
                Submit </button>
            </div>
          </div>
        </form>

        <!-- <div class="modal-footer justify-content-center">
            <p>Have a different inquiry?You Can Call Us on +971-4-8800161</p>
          </div> -->
      </div>
    </div>
  </div>
</div>



{{ end }} 